* {
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	outline:none;
}
html {
	min-height: 100vh;
}
body {
	min-height: 100vh;
	background:#263238;
	color:#ECEFF1;
	font-family: "Saira", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	padding:60px 20px;
	gap:20px;
}
#root {
	display:contents;
}
a {
	color:inherit;
}

main {
	flex: 1;
	align-self: center;
	width:100%;
	max-width: 1200px;
}

form {
	& form-field {
		display:block;
		& label {
			display:block;
			& .rs-checkbox {
				font-size:0.8em;
				user-select: none;
			}
		}
		&:has(>.rs-toggle:only-child) {
			text-align: center;
		}
		& .rs-btn-group {
			display:flex;
			justify-content: center;
			margin-bottom:5px;
		}
	}
	& h2 {
		font-size: 1.5em;
		text-align: center;
		display:block;
		padding:15px 0px;
		font-weight:400;
	}
}
slider-wrapper {
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	gap:12px;
	flex:1;
	& .rs-slider {
		flex: 1;
	}
	& .rs-input-number {
		width:auto;
		flex: 0 0 auto;
		input {
			width:auto;
			width: fit-content;
			field-sizing: content;
		}
	}
}

slider-dual {
	display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
	&>span {
		font-size: 1.4em;
	}
}


.code-results {
	background-color: #00000044;
	border-radius: 4px;
	padding:8px 16px;
	& > h2 {
		padding-top:0px;
	}
	& [data-horizontal] {
		display:flex;
		flex-flow:row nowrap;
		align-items:start;
		justify-content:stretch;
		gap:8px;
		&>form-field {
			width:0px;
			flex:1 1 0;
		}
	}
	& code {
		display:block;
		border-left: 2px solid #FFFFFF66;
		padding:10px;
		user-select: all;
		white-space: pre-wrap;
		margin-bottom: 12px;
	}
}

body.rs-theme-dark {
	--rs-primary-200: #5cb2d1;
	--rs-primary-400: #48a8cb;
	--rs-primary-500: #379ec3;
	--rs-primary-600: #318eaf;
	--rs-primary-700: #2b7d9a;
	--rs-primary-900: #266d87;
}

#visualizer {
	& .grid {
		display:grid;
		grid-template-columns: repeat(var(--grid-columns), auto);
		& >div {
			aspect-ratio: 1;
			border:1px solid #00000011;
			background:#FFFFFF;
			&.padding {
				background:#DDDDDD;
			}
		}
	}
}